body {
  background-color: rgb(163, 201, 201);
  font-family: "IBM Plex Mono", monospace;
  font-family: "Nova Square", sans-serif;
  font-family: "Oswald", sans-serif;
}
.weather-app {
  background-color: antiquewhite;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(219, 217, 220);
}
.search-form-input {
  background-color: rgb(163, 201, 201);
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
}
.search-form-button {
  background-color: aquamarine;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 18%;
}
main {
  padding: 20px 0 0 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details strong {
  color: blue;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 50px;
}

.weather-app-icon {
  font-size: 40px;
  margin-top: 5px;
}
.weather-app-unit {
  font-size: 45px;
}
footer {
  padding: 20px 0 0 0;
  border-top: 1px solid rgb(233, 216, 185);
  text-align: center;
  font-size: 12px;
}
a {
  color: aquamarine;
}
