body {
  background-color: rgb(163, 201, 201);
  font-family: "IBM Plex Mono", monospace;
  font-family: "Nova Square", sans-serif;
  font-family: "Oswald", sans-serif;
}
.weather-app {
  background-color: antiquewhite;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgb(219, 217, 220);
}
.search-form-input {
  background-color: rgb(163, 201, 201);
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
}
.search-form-button {
  background-color: aquamarine;
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 18%;
}
main {
  padding: 20px 0 0 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-details strong {
  color: blue;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-temperature {
  font-size: 50px;
  font-weight: bold;
}

.weather-app-icon {
  font-size: 40px;
  margin-top: 5px;
}
.weather-app-unit {
  font-size: 35px;
  margin-top: 8px;
}
footer {
  padding: 20px 0 0 0;
  border-top: 1px solid rgb(233, 216, 185);
  text-align: center;
  font-size: 12px;
}
a {
  color: rgb(42, 27, 210);
}
.weather-forecast {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgb(42, 27, 210);
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: blue;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature {
  padding: 0 10px;
}
.weather-forecast-icon img {
  width: 38px;
  display: block;
  height: 48px;
  margin: 0 auto;
}
